@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    height: 100%;
}

#master-div {
    min-height: 100vh;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alert-success {
    background-color: #adffad;
    color: #010400;
}

.alert-danger {
    background-color: #ffb1b1;
    color: #d60000;
}



@font-face {
    font-family: 'Recoleta';
    src: url('/fonts/Recoleta-Bold.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Regular';
    src: url('/fonts/Recoleta-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}

@layer base {
    h1 {
        font-size: 2em;
        line-height: 1.5;
        font-family: 'Recoleta';
    }

    h2 {
        font-size: 1.75em;
        line-height: 1.5;
        font-family: 'Recoleta';
    }

    h3 {
        font-size: 1.25em;
        font-weight: 500;
        font-family: 'Recoleta';
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
        font-family: 'Recoleta Regular';
    }

    table {
        font-family: 'Recoleta Regular';
    }

    div {
        font-family: 'Recoleta Regular';
    }

    .mini-qr {
        font-size: 12px;
    }

    .qr-beach {
        max-width: 170px;
        margin: 0 auto;
    }

    ol, ul, menu {
        list-style: decimal;
        margin: inherit;
        padding: inherit;
    }

    li {
        padding-left: 10px;
    }

    .estat-0 {
        background-color: #ffbaba;
        width: fit-content;
        padding: 1px 10px;
        border-radius: 5px;
        margin-top: 5px;
        color: red;
        font-weight: 600;
    }

    .estat-1 {
        background-color: #c1d5f4;
        width: fit-content;
        padding: 1px 10px;
        border-radius: 5px;
        margin-top: 5px;
        color: #0034ff;
        font-weight: 600;
    }

    .estat-2 {
        background-color: #cfffc9;
        width: fit-content;
        padding: 1px 10px;
        border-radius: 5px;
        margin-top: 5px;
        color: #00a612;
        font-weight: 600;
    }

    #informacio {
        border-bottom-color: currentcolor;
        margin-right: 20px;
    }

    @media only screen and (max-width: 1000px) {
        .amagar-mobil {
            display: none;
        }

        .files-omplir {
            display: none;
        }

        .preu-taula {
            column-span: 4;
        }
    }

    .preu-taula {
        column-span: 2;
    }

    #informacio, #estat-inscripcio {
        background-color: #fff;
    }

    body {
        background-color: #f4f4f4;
    }

    .afegir-jugador-btn {
        padding: 10px;
        display: block;
        width: fit-content;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #172554;
        cursor: pointer;
        opacity: 0.9;
        transition: 0.2s;
    }

    .afegir-jugador-btn i {
        color: #172554;
        opacity: 0.9;
        transition: 0.2s;
    }

    .afegir-jugador-btn:hover {
        color: #fff;
        background-color: #172554;
        opacity: 1;
    }

    .afegir-jugador-btn:hover i {
        color: #fff;
        opacity: 1;
    }





}