@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-size: 2em;
        line-height: 1.5;
    }

    h2 {
        font-size: 1.75em;
        line-height: 1.5;
    }

    h3 {
        font-size: 1.25em;
        font-weight: 500;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .mini-qr {
        font-size: 12px;
    }

    .qr-beach {
        max-width: 170px;
        margin: 0 auto;
    }

    ol, ul, menu {
        list-style: decimal;
        margin: inherit;
        padding: inherit;
    }

    li {
        padding-left: 10px;
    }

    .estat-0 {
        background-color: #ffbaba;
        width: fit-content;
        padding: 1px 10px;
        border-radius: 5px;
        margin-top: 5px;
        color: red;
        font-weight: 600;
    }

    .estat-1 {
        background-color: #c1d5f4;
        width: fit-content;
        padding: 1px 10px;
        border-radius: 5px;
        margin-top: 5px;
        color: #0034ff;
        font-weight: 600;
    }

    .estat-3 {
        background-color: #cfffc9;
        width: fit-content;
        padding: 1px 10px;
        border-radius: 5px;
        margin-top: 5px;
        color: #00a612;
        font-weight: 600;
    }

    #informacio {
        border-bottom-color: currentcolor;
        margin-bottom: 10px;
    }

    @media only screen and (max-width: 1000px) {
        .amagar-mobil {
          display: none;
        }
      }


}